In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("D:\practice\healthcare-dataset-stroke-data.csv",index_col=0)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [40]:
#In what age the smoking status is highest?
# high = df.set_index("age")
# high_srt = high.sort_index()
smoke_fltr = df[df["smoking_status"]=="smokes"]
smoke_fltr
smoke_fltr_count = high_srt_fltr["age"].value_counts(sort=True)
smoke_fltr_count

32.0    23
54.0    22
31.0    22
52.0    20
49.0    19
        ..
16.0     2
74.0     2
12.0     1
10.0     1
13.0     1
Name: age, Length: 70, dtype: int64

In [39]:
result = "Highest smoking in age 32 as shown by above analysis"
result

'Highest smoking in age 32 as shown by above analysis'

In [46]:
#Do females smoke more or males?
#Do females have more stroke or males?
smoke_fltr_g = df[(df["smoking_status"]=="smokes") | (df["smoking_status"]=="formerly smoked")]
smoke_fltr_g
smoke_fltr_g_count = high_srt_fltr["gender"].value_counts(sort=True)
smoke_fltr_g_count

Female    452
Male      337
Name: gender, dtype: int64

In [47]:
result = "The above result shows that females smoke more than males"
result

'The above result shows that females smoke more than males'

In [48]:
stroke_fltr_g = df[(df["stroke"]==1)]
stroke_fltr_g
stroke_fltr_g_count = high_srt_fltr["gender"].value_counts(sort=True)
stroke_fltr_g_count

Female    452
Male      337
Name: gender, dtype: int64

In [52]:
result = "This shows that females have more stroke than males"
result

'This shows that females have more stroke than males'

In [50]:
count = df["gender"].value_counts()
count

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [51]:
conclusion = "The result may not be completely true as the data of females is more than the datas of men"
conclusion

'The result may not be completely true as the data of females is more than the datas of men'

In [66]:
#What bmi has the most heart disease?
heart_fltr_g = df[(df["heart_disease"]==1)]
heart_fltr_g
heart_fltr_g_count = high_srt_fltr["bmi"].value_counts(sort=True)
heart_fltr_g_count

29.4    10
28.4    10
28.7    10
35.2     8
23.8     8
        ..
38.5     1
32.7     1
33.6     1
34.3     1
45.0     1
Name: bmi, Length: 259, dtype: int64

In [68]:
result = "The above data suggests that the bmi 29.4 has the most count of heart diseases and the bmi 45.0 might be a possible outlier"
result

'The above data suggests that the bmi 29.4 has the most count of heart diseases and the bmi 45.0 might be a possible outlier'